body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gainsboro;
}

.container {
  background-color: aliceblue;
  box-shadow: 5px 5px 20px;
  height: 400px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 15px;
}

#count {
  font-size: 70px;
  text-shadow: 2px 2px 3px tomato;
  font-weight: 500;
}
.container div {
  margin-top: -20px;
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}
.container button {
  background-color: cadetblue;
  color: black;
  height: 35px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 2px 2px 5px red;

}
.container button:hover{
  transform:scale(1.05);
  transition: all 0.2s ease-in;
}